h1, #stats, #question, #start, #answers,#gameoption, #finalStats, #playAgain, #result, #next{
    text-align: center;
}
#answers, #gameplay, #question, #start, #next, #stats{
    visibility: hidden;
}


.row{
    padding-bottom: 20px;
}

.answerbtn, .startbtn, .timebtn, .randombtn{
    padding-right: 40px;
    padding-left: 40px;
    margin-right: 20px;
    margin-left: 20px;
}